.services-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 870px;

  &__mobile {
    margin-right: 20px;

  }

  &__mobile-title {
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__mobile-img {
    width: 150px;
    height: 150px;
  }

  &__mobile-button {
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__mobile-text {
    display: none;

    @include mobile {
      display: block;
      position: relative;

    }
  }

  &__widescreen {
    display: block;

    @include mobile {
      display: none;
    }
  }

  &__widescreen-title {
    font-size: 48px;
    line-height: 59px;
  }

  &__widescreen-text {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

