.container {
  padding: 0 40px;

  &--header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include iPad {
      min-height: 780px;
    }

    @include mobile {
      height: 100%;
    }
  }
}
