.diagram {
  width: 808px;
  height: 488px;
  position: relative;

  @include iPad {
    width: 486px;
    height: 292px;
  }

  @include mobile {
    width: 276px;
    height: 262px;
  }

  & img {
    cursor: pointer;
  }

  &__connectors {
    width: 664px;
    height: 342px;
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    @include iPad {
      width: 398px;
      height: 205px;
    }

    @include mobile {
      display: none;
    }

    &--mobile {
      display: none;
      top: 39%;
      left: 54%;

      @include mobile {
        display: block;
        top: 39%;
        width: 322px;
        height: 200px;
      }
    }
  }

  &__fiscal-img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 260px;
    left: -10px;
    transition: transform 0.3s;

    @include iPad {
      width: 62px;
      height: 62px;
      top: 150px;
      left: -5px;
    }

    @include mobile {
      width: 42px;
      height: 42px;
      top: 72px;
      left: 250px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__cashless-img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 170px;
    transition: transform 0.3s;

    @include iPad {
      width: 80px;
      height: 80px;
      top: 0;
      left: 120px;
    }

    @include mobile {
      width: 50px;
      height: 50px;
      top: -21px;
      left: 111px;
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  &__feedback-img {
    position: absolute;
    width: 108px;
    height: 108px;
    top: 75px;
    left: 690px;
    transition: transform 0.3s;

    @include iPad {
      width: 65px;
      height: 65px;
      top: 55px;
      left: 400px;
    }

    @include mobile {
      width: 40px;
      height: 40px;
      top: 186px;
      left: 12px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__analytics-img {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 215px;
    left: 490px;
    transition: transform 0.3s;

    @include iPad {
      width: 70px;
      height: 70px;
      top: 142px;
      left: 305px;
    }

    @include mobile {
      width: 50px;
      height: 50px;
      top: 94px;
      left: 40px;
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  &__remote-img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 375px;
    left: 240px;
    transition: transform 0.3s;

    @include iPad {
      width: 55px;
      height: 55px;
      top: 220px;
      left: 165px;
    }

    @include mobile {
      width: 35px;
      height: 35px;
      top: 165px;
      left: 228px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    line-height: 37px;
    color: $text-color;
    text-align: center;
    transition: transform 0.3s;

    @include iPad {
      font-size: 18px;
      line-height: 22px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__cashless-link {
    top: -20px;
    left: 0;

    &--en {
      top: 4px;
      left: 40px;
    }

    @include iPad {
      top: -10px;
      left: 10px;

      &--en {
        top: 2px;
        left: 42px;
      }
    }

    @include mobile {
      top: -22px;
      left: 20px;
      font-size: 14px;
      line-height: 16px;

      &--en {
        top: -16px;
        left: 45px;
      }
    }
  }

  &__feedback-link {
    top: 45px;
    left: 560px;

    &--en {
      top: 48px;
      left: 542px;
    }

    @include iPad {
      top: 35px;
      left: 320px;

      &--en {
        top: 40px;
        left: 312px;
      }
    }

    @include mobile {
      top: 166px;
      left: 60px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__monitoring-link {
    top: 210px;
    left: 310px;

    @include iPad {
      top: 130px;
      left: 200px;
    }

    @include mobile {
      top: 55px;
      left: -10px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__analytics-link {
    top: 325px;
    left: 630px;

    @include iPad {
      top: 205px;
      left: 370px;
    }

    @include mobile {
      top: 104px;
      left: 98px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__remote-link {
    top: 425px;
    left: 360px;

    @include iPad {
      top: 245px;
      left: 230px;
    }

    @include mobile {
      top: 192px;
      left: 148px;
      font-size: 14px;
      line-height: 16px;

      &--en {
        top: 180px;
        left: 168px;
      }
    }
  }

  &__fiscal-link {
    top: 390px;
    left: 40px;

    &--en {
      top: 400px;
      left: 28px;
    }

    @include iPad {
      top: 215px;
      left: 20px;

      &--en {
        top: 218px;
        left: 38px;
      }
    }

    @include mobile {
      top: 80px;
      left: 160px;
      font-size: 14px;
      line-height: 16px;

      &--en {
        top: 78px;
        left: 148px;
      }
    }
  }

  &__button {
    position: absolute;
    right: 256px;
    bottom: 11px;

    @include iPad {
      top: 350px;
      left: 550px;
    }

    @include mobile {
      top: 297px;
      left: 138px;
    }
  }
}
