.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include Desktop {
    display: none;
  }

  width: 10%;
  height: 100%;
  padding: 0 50px;

  position: absolute;
  opacity: 0;
  z-index: -5;
  visibility: hidden;

  @include mobile {
    padding: 0 20px;
  }

  &__navigation {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__button {
    margin: 0 auto 38px;
  }

  &__animation {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity 0.3s;
    width: 100%;
  }
}
