.footer-mobile {
  height: 100%;
  max-width: 400px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin-top: 100px;
    width: 200px;
    height: 83px;
  }

  &__text {
    width: 340px;
    margin-top: 30px;

    font-size: 20px;
    line-height: 24px;
    color: #FDFFFF;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--link {
      transition: 0.5s;
      width: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px;
      padding: 10px;

      & img {
        width: 35px;
        height: 32px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__copyright {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    color: #FFFFFF;
    padding-bottom: 15px;
  }
}
