.footer {
  width: 100%;
  max-width: 1280px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 22px;

  @include iPad {
    max-width: $ipad-width;
    padding: 27px 27px 18px;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--link {
      margin-right: 50px;
      transition: 0.5s;

      @include iPad {
        & img {
          width: 35px;
          height: 32px;
        }
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__logo {
    width: 200px;
    height: 83px;
  }

  &__text {
    max-width: 392px;
    margin-right: 250px;

    font-size: 20px;
    line-height: 24px;
    color: #FDFFFF;

    @include iPad {
      margin-right: 0;
      font-size: 17px;
      line-height: 22px;
    }
  }

  &__copyright {
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    @include iPad {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
