.header {
  background: linear-gradient(100.25deg, #1B3F92 37.47%, #5C81ED 87.36%);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  display: block;

  @include iPad {
    min-height: 680px;
  }

  @include mobile {
    display: none;
  }

  &__content {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;

    @include iPad {
      max-width: $ipad-width;
    }
  }

  &__settigs {
    display: flex;
    flex-direction: row;
    justify-content: end;

    height: 116px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 50px;

    margin-top: 32px;
  }

  &__logo-link {
    cursor: pointer;
  }

  &__logo {
    width: 100%;

    @include iPad {
      max-width: 300px;
    }
  }

  &__text {
    color: white;
    margin-top: 40px;
    font-size: 22px;
    line-height: 27px;
  }

  &__button {
    margin-top: 40px;
  }

  &__img {
    max-width: 320px;
    max-height: 424px;
    width: 100%;

    @include iPad {
      max-width: 250px;
    }
  }

  &__video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 52px;
    position: relative;
    cursor: pointer;

    @include iPad {
      padding-bottom: 65px;
    }

    &--icon {
      width: 96px;
      height: 96px;
    }

    animation-name: video-icon-move;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes video-icon-move {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(0.9);
  }
}
