.main-block {
  max-width: 1280px;
  position: relative;
  min-width: $min-screen;

  @include mobile {
    overflow: hidden;
  }

  @include iPad {
    max-width: $ipad-width;
  }

  @include mobile {
    max-width: $min-screen;
    // z-index: -3;
  }

  &__img {
    display: block;
    width: 100%;
    padding: 0 11.48% 0 7.26%;
    position: absolute;
    top: -90px;
    z-index: -2;

    &--iPad {
      display: none;
    }

    @include iPad {
      top: -53px;

      &--Desktop {
        display: none;
      }

      &--iPad {
        display: block;
      }
    }

    @include mobile {
      display: none;
    }
  }

  &__img-mobile {
    display: none;

    @include mobile {
      display: none;
      width: $min-screen;
      padding: 0 11.48% 0 7.26%;
      position: absolute;
      top: -60px;
      z-index: -2;

      &--visible {
        display: block;
      }
    }
  }

  &__benefit {
    position: absolute;
    right: 210px;
    bottom: 270px;

    &--EN {
      bottom: 230px;
    }

    @include iPad {
      right: 135px;
      bottom: 194px;
    }

    @include mobile {
      display: none;
    }
  }
}
