.main-block {
  max-width: 1280px;
  position: relative;

  @include iPad {
    max-width: $ipad-width;
  }

  &__img {
    width: 100%;
    padding: 0 11.48% 0 7.26%;
    position: absolute;
    top: -90px;
    z-index: -2;

    @include iPad {
      top: -53px;
    }
  }

  &__benefit {
    position: absolute;
    right: 210px;
    bottom: 270px;

    @include iPad {
      right: 135px;
      bottom: 190px;
    }
  }
}
