.nav {
  &--onDesktop {
    @include iPad {
      display: none;
    }
  }

  &--onIPad {
    @include Desktop {
      display: none;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include iPad {
      flex-direction: column;
      justify-content: flex-start;
    }

    & li:last-child a {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 5px;
    margin-right: 40px;
    transition: 0.3s;

    @include iPad {
      font-size: 20px;
      line-height: 24px;
      margin-right: 20px;
    }

    &:hover {
      transform: scale(110%);
    }
  }

  &--footer {
    & .nav__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      margin-right: 80px;

      @include iPad {
        display: none;
      }
    }

    & .nav__link {
      text-decoration: none;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      padding: 10px 0;
      transition: 0.3s;
      margin: 0;

      @include iPad {
        font-size: 20px;
        line-height: 24px;
        padding: 0;
        margin: 0 45px 0 0;
      }

      &:hover {
        transform: scale(110%);
      }
    }
  }

  &--footer-top {
    & .nav__list {
      display: none;

      @include iPad {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
