.partners-layout {
  background: rgba(218, 227, 247, 0.9);
  border-radius: 20px;
  width: fit-content;
  min-width: 150px;
  position: absolute;
  left: 45%;
  top: 50%;
  z-index: 1;
  transform: translate(-1050%, -120%);
  transition: transform 0.7s;

  &--show {
    transform: translate(-40%, -130%);
  }

  &__close-cross {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    padding-top: 10px;

    @include iPad {
      font-size: 28px;
      line-height: 30px;
    }

    @include mobile {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__img-wrap {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(auto-fill, auto);
    column-gap: 45px;
    padding: 15px;

    @include mobile {
      grid-template-columns: repeat(3, 60px);
      grid-template-rows: repeat(auto-fill, auto);
    }
  }

  &__img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;

    @include mobile {
      width: 50px;
    }
  }

  &__img {
    &--kaspi {
      width: 95px;
    }

    &--visa {
      width: 95px;
    }
  }
}
