.services-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 870px;

  @include iPad {
    max-width: 700px;
  }

  @include mobile {
    width: 360px;
    display: block;
  }

  &__mobile {
    margin-right: 20px;
  }

  &__mobile-title {
    display: none;

    @include mobile {
      display: block;
      text-align: center;
    }
  }

  &__mobile-img {
    width: 150px;
    height: 150px;

    @include iPad {
      width: 100px;
      height: 100px;
    }

    @include mobile {
      margin: 0 auto;
      display: flex;
      margin-top: 10px;
    }
  }

  &__mobile-button {
    display: none;
    cursor: pointer;

    @include mobile {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 20px;
      margin-top: 15px;
    }
  }

  &__mobile-text {
    display: none;

    @include mobile {
      display: block;
      margin-top: 10px;
    }

    &--close {
      position: absolute;
      opacity: 0;
      z-index: -5;
      transition: opacity 0.3s;
    }

    &--open {
      position: relative;
      opacity: 1;
      z-index: 1;
      transition: opacity 0.3s;
    }
  }

  &__widescreen {
    display: block;

    @include mobile {
      display: none;
    }
  }

  &__widescreen-title {
    font-size: 48px;
    line-height: 59px;

    @include iPad {
      font-size: 36px;
      line-height: 43px;
    }
  }

  &__widescreen-text {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;

    @include iPad {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
