.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;

  &__lang {
    position: relative;
    margin-right: 33px;

    &--img {
      width: 28px;
      height: 28px;


      @include iPad {
        width: 22px;
        height: 22px;
      }
    }

    &:hover  {
      cursor: pointer;

      .settings__options {
        opacity: 1;
        transition: opacity 2s;
        z-index: 1;
      }

      .settings__current-lang {
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
  }

  &__wrapper {
  }

  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    transform: translate(-107%, -97%);
    padding: 0 7px;
    opacity: 0;

    background-color: rgba($color: #ffffff, $alpha: 0.4);
    border-radius: 22px;

    @include iPad {
      transform: translate(-107%, -89%);
    }
  }

  &__current-lang {
    position: absolute;
    transform: translate(-100%, -80%);
    transition: opacity 1.5s;

    font-size: 20px;
    padding: 16px;

    @include iPad {
      font-size: 18px;
      padding: 14px;
    }
  }

  &__option {
    padding: 8px;

    @include iPad {
      padding: 6px;
    }

  }

  &__log-out {
    cursor: pointer;
    transition: all 0.3s;

    &--img {
      width: 35px;
      height: 28px;


      @include iPad {
        width: 28px;
        height: 22px;
      }
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
