.why-prostoPay {
  position: relative;
  padding-top: 5.7vw;

  @include Desktop {
    padding-top: 73px;
  }

  @include iPad {
    padding-top: 43px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    @include iPad {
      font-size: 36px;
      line-height: 43px;
    }
  }

  &__img {
    width: 100%;
    padding: 20px 0 0 7.26%;
    z-index: -3;
    position: relative;

    @include iPad {
      padding-top: 10px;
    }
  }

  &__benefit {
    position: absolute;
    transition: all 0.5s;

    bottom: -70px;
    right: 111px;

    @include iPad {
      bottom: -40px;
      right: 70px;
    }
  }
}
